@charset "utf-8";body{padding-top:28px!important;text-align:left;}
.toplinkzone *{margin:0;padding:0;box-sizing:border-box;letter-spacing:normal;}
.toplinkzone a, img{border:none;}
.toplinkzone a{text-decoration:none;color:#1c59b5;outline:none;}
.toplinkzone{font:15px/1.62 "ITC Avant Garde Gothic","微軟正黑體", Verdana, Arial, Helvetica, sans-serif;}
.toplinkzone .gray13{color:#929292;font-size:13px;padding:0 5px 0 10px;position:absolute;right:0;top:0;}
.toplinkzone .unread{background-color:#f4faff !important;}
.toplinkzone .unread .toplinkview{color:#1145b2;font-weight:bolder}
.toplinkzone .iptm{color:#e70000;font-weight:bolder;}
.toplinkzone .otherTextLink{color:#ffca00 !important;}
.toplinkzone .organTextLink{color:#ffcbe2 !important;}
.toplinkzone dt{font-weight:normal;}
.toplinkzone dt, .toplinkzone dd{line-height:inherit;}
.toplinkzone{background-color:#374357;width:100%;height:28px;font-size:13px;position:fixed;top:0px;left:0px;z-index:9999;visibility:visible;display:inline-block;margin:0px;}
.toplinkzone ul{display:inline-block;white-space:nowrap;list-style:none;vertical-align:top;}
.toplinkzone ul li a{position:relative;display:block;color:#FFF;padding:0 8px;line-height:28px;font-weight:normal;text-decoration:none;}
.toplinkzone ul:nth-child(2) li a{font-weight:600;}
.toplinkzone ul li a .blackNum{display:block;position:absolute;top:-2px;left:8px;background-color:#e70000;min-width:14px;height:14px;border-radius:15px;color:#FFF;line-height:14px;text-align:center;font-size:12px;padding:0 3px;}
.toplinkzone li.tlmore,
.toplinkzone li .alert,
.toplinkzone li .browse,
.toplinkzone li .match{position:relative;}
.toplinkzone li dl.moremenu,
.toplinkzone li dl.selfmenu,
.toplinkzone li dl.alertmenu,
.toplinkzone li dl.browsemenu,
.toplinkzone li dl.matchmenu,
.toplinkzone li dl.nologinmenu{position:absolute;display:none;z-index:666;top:34px;border:2px solid #4f5e76;background-color:#FFF;}
.toplinkzone li dl.moremenu{min-width:100px;left:-52%;padding-top:10px;}
.toplinkzone li dl.selfmenu{min-width:100px!important;right:50%;margin-right:-53px;padding-top:10px;}
.toplinkzone li dl.moremenu a,
.toplinkzone li dl.selfmenu a,
.toplinkzone li dl.alertmenu a,
.toplinkzone li dl.browsemenu a,
.toplinkzone li dl.matchmenu a,
.toplinkzone li dl.nologinmenu a{color:#1e1e1e;line-height:1.8;display:block;}
.toplinkzone li dl.moremenu a:hover,
.toplinkzone li dl.selfmenu a:hover,
.toplinkzone li dl.alertmenu a:hover,
.toplinkzone li dl.browsemenu a:hover,
.toplinkzone li dl.matchmenu a:hover,
.toplinkzone li dl.nologinmenu a:hover{background-color:#f3f3f3;}
.toplinkzone li dl.alertmenu, .toplinkzone li dl.nologinmenu{left:-340%;font-size:15px;}
.toplinkzone .alertmenu.arrow_box:after, .alertmenu.arrow_box:after{left:21%;}
.toplinkzone li dl.browsemenu{left:-565%;font-size:15px;}
.toplinkzone .browsemenu.arrow_box:after{left:35%;}
.toplinkzone li dl.matchmenu{left:0;margin-left:-164px;font-size:15px;}
.toplinkzone .matchmenu.arrow_box:after{left:50%;}
.toplinkzone li dl.moremenu,
.toplinkzone li dl.selfmenu{font-size:14px;}
.toplinkzone li .tools dl{overflow:visible!important;min-width:330px;}
.toplinkzone li .tools dl .scroll{max-height:490px;overflow-y:auto;box-sizing:border-box;}
.toplinkzone li .tools dl .scroll.loadingIcon{background:url(../loading.gif) center bottom no-repeat;}
.toplinkzone li .tools dl .scroll dd{background:#fff;}
.toplinkzone li .tools dl .nodata{text-align:center;color:#444;padding:20px 0;}
.toplinkzone li .tools dl .nodata i{font-size:40px;display:block;color:#adb5bd;margin-bottom:10px;}
.toplinkzone li .tools dl dt{background-color:#374357;font-size:15px;padding:2px 8px;position:relative;}
.toplinkzone li .tools dl:not(.selfmenu) dd{border-bottom:1px solid #e3e3e3;}
.toplinkzone li .tools dl dd:before{content:'';}
.toplinkzone li .tools dl dd:not(.unread) .toplinkview{color:#5b6780;}
.toplinkzone li .tools dl p{color:#131313;line-height:1.3;font-size:13px;padding-bottom:5px;position:relative;}
.toplinkzone li dl.matchmenu dt span{font-size:13px;color:#b3d8f1;position:absolute;top:0;right:8px;}
/**/.toplinkzone ul li dl .viewall{background-color:#ececec;}
.toplinkzone ul li dl .viewall a{font-size:14px;text-align:center;line-height:34px;}
.toplinkzone ul li dl .viewall a:hover{background-color:#e3e2e2;}
.toplinkzone .arrow_box{position:relative;background:#374357;}
.toplinkzone .arrow_box:after{bottom:100%;left:38%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(70, 70, 70, 0);border-bottom-color:#374357;border-width:9px;}
.toplinkzone .navLeft li a:hover,.adgray{background-color:#2f3a4b;}
.toplinkzone .btmline{border-bottom:1px dashed #9e9e9e;margin-bottom:5px;}
.toplinkzone .navRight{/*float:right;*/font-size:13px;margin:0;padding:0;list-style-type:none;padding-right:16px;position: absolute; right: 0; z-index: 1;}
.toplinkzone .navRight .setting{border-radius:4px;height:26px;padding:0 8px;background-color: #374357;}
.toplinkzone .navRight li,
.navRight .setting a{display:inline-block;}
.navRight .setting a{vertical-align:top;}
.toplinkzone .navRight .setting .name > a{position:relative;line-height:inherit;padding:0 3px;text-decoration:none;}
.toplinkzone .navRight .tools{float:left;color:#FFF;line-height:28px;cursor:pointer;}
.toplinkzone .navRight .alert,
.toplinkzone .navRight .browse,
.toplinkzone .navRight .match{width:20px;height:22px;background:url(../toplinkico.png) no-repeat;padding:0 2px;margin:3px 15px;}
.toplinkzone .navRight .tools span.txt{z-index:1;}
.toplinkzone .navRight .alert{background-position:0 0;}
.toplinkzone .navRight .alertact,
.toplinkzone .navRight .alertin{background-position:0 -28px;}
.toplinkzone .navRight .browse{background-position:-24px 0;}
.toplinkzone .navRight .browseact,
.toplinkzone .navRight .browsein{background-position:-24px -28px;}
.toplinkzone .navRight .match{background-position:-56px 0;margin-right:23px;}
.toplinkzone .navRight .matchact,
.toplinkzone .navRight .matchin{background-position:-56px -28px;}
.toplinkzone .navRight .name{position:relative;height:28px;}
.toplinkzone .navRight .name::after{display:block;content:"";height:28px;width:1px;float:right;margin-left:10px;}
.toplinkzone .navRight .service{}
.toplinkzone .navRight .service::before{}
.toplinkzone .navRight .service{position:relative;cursor:pointer;}
.toplinkzone .navRight .service span,
.toplinkzone .tools .service_box{position:absolute;margin-top:10px;color:#FFF;background-color:#374357;top:28px;left:-20px;padding:0 4px;line-height:2.2;border-radius:3px;opacity:0;}
.toplinkzone .navRight .service:hover span,
.toplinkzone .tools:hover .service_box{opacity:1;z-index:665;}
.toplinkzone .service_box:after{bottom:100%;left:38%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(72, 86, 108, 0);border-bottom-color:#374357;border-width:6px;z-index:777;}
.toplinkzone .navRight .service a{width:21px;height:23px;background:url(../toplinkico.png) no-repeat -86px -1px;vertical-align:middle;margin:0 5px;}
.toplinkLogo{ display: inline-block; vertical-align: middle; text-indent: -9999px; width:38px;
    height: 22px; background: url(https://www.1111.com.tw/includesU/toplink/images/1111_head-logo.png)  no-repeat;}

.toplinkzone li .tools dl .nodata i.iconEnvelope,
.iconEnvelope{ display: inline-block; margin: 0; width: 42px; height: 32px; background:url(https://www.1111.com.tw/includesU/toplink/images/icon_mail.png) no-repeat; }

.toplinkzone li .tools dl .nodata i.iconExclamationCircle,
.iconExclamationCircle{ margin: 0 auto; width:36px; height:35px; background:url(https://www.1111.com.tw/includesU/toplink/images/icon_warining.png) no-repeat; }
.iconExclamation{ display: inline-block; width:4px; height:10px; background:url(https://www.1111.com.tw/includesU/toplink/images/icon_warining_s.png) no-repeat; }

@media screen and (max-width:767px){}
@media screen and (min-width:480px) and (max-width:639px){}
@media screen and (min-width:640px) and (max-width:767px){}
@media screen and (min-width:768px) and (max-width:990px){}
@media screen and (min-width:1024px) and (max-width:1169px){.toplinkzone .otherHiddenLink {display:none}}
@media screen and (max-width:1060px){.toplinkzone ul li a{padding:0 10%;}.toplinkzone .otherHiddenLink {display:none}}
@media screen and (max-width:980px){.toplinkzone .navRight .service,
.toplinkzone .navRight .setting .tools,
.toplinkzone .navLeft{display:none;}
.toplinkzone .navLeft:first-child{display:inline-block;}
.toplinkzone .navRight .setting .tools.name{display:block;}
}